/* SİTE RENKLERİNİN BAZILARI*/
.header-scrolled {
  background-color: #333333 !important;
}
#footer {
  background-color: black !important;
}
#footer .footer-top {
  background-color: #333333 !important;
}

@media (max-width: 960px) {
  #nav-menu-container {
    display: none;
  }

  #mobile-nav-toggle {
    display: inline;
  }

  #header-top .header-right .header-social {
    float: center;
    padding-right: 0;
  }
}
.nav-menu ul li ul {
  list-style: none;
  margin-top: 25px;
  padding: 10px;
  background-color: #336623;
  visibility: hidden;
  display: none;
  position: absolute;
  top: 19px; /* yukseklik 15px + sonradan eklenecek paddingler 4px toplam 19px */
  left: 0;
}
.nav-menu ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  display: block;
}
.nav-menu ul li ul li {
  clear: both;
  width: 100%;
}
.nav-menu ul li ul {
  background-color: #336623;
  margin: 13px 0px 20px 0px;
}
.nav-menu ul li ul a {
  padding: 5px;
}

.nav-menu ul li ul a:hover {
  background-color: #000;
}
.galeri {
  width: 100%;
  height: 300px !important;
}
.galeri img {
  width: 100%;
  height: 300px !important;
  object-fit: cover !important;
}
