RewriteEngine ON

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^anasayfa$ index.php [NC,L]
RewriteRule ^tarifeler$ tarifeler.php [NC,L]
RewriteRule ^iletisim$ iletisim.php [NC,L]
RewriteRule ^giris-yap$ giris-yap.php [NC,L]
RewriteRule ^sitemap.xml$ sitemap.php [NC,L]

